[Desktop Entry]
Name=Uninstall Apps
GenericName=Application Remover
Comment=Remove applications you installed from your system
Exec=sh -c 'qs -p ~/.config/quickshell/ii/app-remover.qml'
Icon=mainstream-app-remover
Type=Application
Categories=System;Settings;
Keywords=uninstall;remove;delete;apps;applications;packages;software;
StartupNotify=false
